<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985661127785-tbjsehnbb9u239i4f47unh7vru87jdns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985661127785-tbjsehnbb9u239i4f47unh7vru87jdns</string>
	<key>API_KEY</key>
	<string>AIzaSyB2A2PkB8JumqacIddPJTqOudtLJxcudvY</string>
	<key>GCM_SENDER_ID</key>
	<string>985661127785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailPasswordLogin</string>
	<key>PROJECT_ID</key>
	<string>quickaid2</string>
	<key>STORAGE_BUCKET</key>
	<string>quickaid2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985661127785:ios:7db510d3c3316380c736f8</string>
</dict>
</plist>